body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #eeeaed, #f3bbe6);
    color: #5e3450;
}

header {
    background: #1abc9c;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.8em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #bdc3c7;
}

.container {
    display: flex;
    margin: 30px;
}

aside {
    width: 300px;
    background: #16a085;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 12px;
    background: #1abc9c;
    border-radius: 5px;
    transition: background 0.3s ease;
}

aside ul li a:hover {
    background: #2ecc71;
}

main {
    flex: 1;
    padding: 20px;
}

.card {
    background: rgb(242, 237, 196);
    border: 2px solid #dcdde1;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #2c3e50;
}

.card p {
    line-height: 1.6;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    font-size: 16px;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #2ecc71;
    outline: none;
}

button {
    background: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #2980b9;
}

footer {
    text-align: center;
    padding: 25px;
    background: #1abc9c;
    color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

#event-stats {
    font-size: 2em;
    font-weight: bold;
    color: #8e44ad;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
    }
}
